# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntelliJ directories
.idea
out

#Ignore all .iml files
*.iml

#Ignore all .log files
*.log

#Ignore all indexpath
com.*

