<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Прокат рядом</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div sec:authorize="hasAuthority('CHANGE_PASSWORD_PRIVILEGE')">
    <h1 th:text="#{message.resetYourPassword}">Изменение пароля</h1>
    <form>
        <span id="passwordLabel">password</span>
        <input id="password" name="newPassword" type="password" value=""
               minlength="8" maxlength="64"/>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password} "></span>

        <span id="matchPasswordLabel">confirm</span>
        <input id="matchPassword" type="password" value=""/>

        <div id="globalError" style="display:none"
             th:text="error password">error
        </div>

        <button id="updatePassword" type="submit" disabled="disabled"
                th:text="#{message.updatePassword}"> Нажмите после ввода нового пароля
        </button>
    </form>

    <script th:inline="javascript">
        // var minPsw = 8;
        // var maxPsw = 64;
        passwordPattern = /^[+a-z0-9A-Z_-]{8,64}$/;
        // var serverContext = "[[@{/}]]";
        var serverContext = "http://localhost:8080/";
        $(document).ready(function () {
            var button = $('#updatePassword');
            $('form').submit(function (event) {
                savePass(event);
            });

            $("#matchPassword").keyup(function () {
                if ($("#password").val() != $("#matchPassword").val()) {
                    $("#globalError").show().html("password1 error");
                    $(button).attr('disabled', 'disabled');
                    $("#password").attr('style', 'color:#F41F0E');
                  } else {
                    $("#globalError").html("hide err").hide();
                    $(button).removeAttr('disabled');
                    $("#password").attr('style', 'color:#000000');

                }
            });

            $("#password").keyup(function () {
                if (isEmpty($("#password").val())) {
                    $("#globalError").html("hide err").hide();
                    $(button).attr('disabled', 'disabled');
                    $("#password").attr('style', 'color:#F41F0E');
                }
                else {
                    if ($("#password").val() != $("#matchPassword").val()) {
                        $("#globalError").show().html("password be equivalent to confirms");
                        $(button).attr('disabled', 'disabled');
                        $("#password").attr('style', 'color:#F41F0E');
                    } else {
                        $("#globalError").html("hide err").hide();
                        $(button).removeAttr('disabled');
                        $("#password").attr('style', 'color:#000000');

                    }
                }
            });
        });

        function savePass(event) {
            event.preventDefault();
            if ($("#password").val() != $("#matchPassword").val()) {
                console.log(event)
                $("#globalError").show().html("password2 error");
                $("#password").attr('style', 'color:#F41F0E');
                $('#updatePassword').attr('disabled', 'disabled');
                return;
            }
            var formData = $('form').serialize();
            $.post(serverContext + "forgotpassword/save/?" + formData, {}, function (data) {
                // window.location.href = serverContext + "login?message="+data.message;
                window.location.href = serverContext + "?" + data.message;
                console.log(formData)
            })
                .fail(function (data) {
                    var body = data.responseJSON.body;
                    var method = data.responseJSON.method;
                    var path = data.responseJSON.path;
                    var cause = data.responseJSON.cause;
                    var statusCode = data.responseJSON.statusCode;

                    $("#password").html("").hide();
                    $("#matchPassword").html("").hide();
                    $("#passwordLabel").html("").hide();
                    $("#updatePassword").html("").hide();
                    $("#matchPasswordLabel").html("").hide();

                    $("#globalError").show().html(cause);
                });
        }

        function isEmpty(e) {
            switch (e) {
                case "":
                case 0:
                case "0":
                case null:
                case false:
                case typeof this == "undefined":
                    return true;
                default:
                    return false;
            }
        }

        function isBlank(str) {
            return (!str || /^\s*$/.test(str));
        }
    </script>
</div>
</body>
</html>
